/*
Convencion de escritura de estilos 
1.Posicionamiento (static, fixed, absolute, relative)
2.Modelo de caja (margin,padding,border)
3.Tipografia
4.Visuales (sombras,bordes,gradientes)
5.Otros
*/

:root{
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --warm-black2:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;   
    --Principal-font: 'DM Sans', sans-serif;
    --Secundary-font:'Inter', sans-serif;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

