/*
Convencion de escritura de estilos 
1.Posicionamiento (static, fixed, absolute, relative)
2.Modelo de caja (margin,padding,border)
3.Tipografia
4.Visuales (sombras,bordes,gradientes)
5.Otros
*/

:root{
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --warm-black2:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;   
    --Principal-font: 'DM Sans', sans-serif;
    --Secundary-font:'Inter', sans-serif;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    background-color: var(--off-white);
}

header{

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 32rem;
    text-align: center;
    height: 33.4rem;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

}


header img{
    width: 50%;
    max-width: 17.5rem;
}


.header--title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 90%;
    min-height: 21.8rem;  
}

.header--title-container h1{
    margin-bottom: 2.4rem;
    font-size:2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
   
}

.header--title-container p{
   font-size: 1.4rem;
   font-weight: 500;
   line-height: 1.8rem;
   color: var(--soft-orange);
   display: block;
}

.header--button{
   
    position: absolute; 
    top: calc(21.8rem + 2.4rem);
    left: calc(50% - 23rem/2);
    padding: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--warm-black);
    text-decoration: none;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 0.5rem;
    
}

.header--button span::before{

    content: url('./assets/iconos/flecha_abajo.svg');
    padding: 0 1rem;
}


.main-exchange-container{
display: flex;
flex-wrap: nowrap;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
min-width: 32rem;
padding-top: 5.8rem;
padding-bottom: 5rem;
}

.background-Image{

    
    width: 19.2rem;
    height: 19.2rem;
    background: url('./assets/imagenes/BitcoinAtomo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchage-title{
    text-align: center;
    padding: 2rem 1.5rem;
}

.main-exchage-title h2{
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-exchage-title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey);
}

.main-currency-table{
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    font-family: var(--Secundary-font);

}

.main-currency-table .currency-table--title{
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 700;
    color: var(--bitcoin-orange);
    padding-left: 1rem;
    padding-bottom: 1rem;
}


.currency-table--container{
 width: 90%;
 min-width: 23rem;
max-width: 30rem;
height: 25rem;
}

.currency-table--container table{
    width: 100%;
    height: 100%;
}

.currency-table--container td{
    width: 50%;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left{
    border-radius:0.8rem 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius:0 0.8rem  0 0;
}
.currency-table--container .table__bottom-left{
    border-radius:0  0  0 0.8rem ;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 0.8rem 0;
}

.currency-table--container .table-right{
font-weight: 400;
font-size: 1.4rem;
line-height: 1.6rem;
color: #757575;
}

.currency-table--container  .up{
 background-image: url('./assets/iconos/tendencia_arriba.svg');
 background-repeat: no-repeat;
 width: 2.2rem;
 height: 1.1rem;
 margin-left: 1rem;
 display: inline-block;
}

.currency-table--container  .down{
    background-image: url('./assets/iconos/tendencia_abajo.svg');
    background-repeat: no-repeat;
    width: 2.2rem;
    height: 1.1rem;
    margin-left: 1rem;
    display: inline-block;
   }

   .main-currency-table .currency-table--date{
       text-align: center;
   }

   .currency-table--date{
       width: 100%;
     height: 3rem;
     padding: 0.8rem 0.4rem;
     background-color: var(--soft-orange);
     border-radius: 1rem; 
     margin-top: 1.5rem; 
     font-size: 1.2rem;
     line-height: 1.4rem;
 
 }  

 .currency-table--date p{
 color: var(--warm-black);   
 font-weight: 400  ; 
} 


.main-beneficit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 32rem;
    background-color: var(--warm-black);
    padding-bottom: 5rem;
}



.main-beneficit-container .beneficit-explication{
    width: 80%;
    padding-bottom: 3rem;
    padding-top: 5rem;
    text-align: center;
}

.main-beneficit-container .beneficit-explication .beneficit-explication--title{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
    padding-bottom: 2.4rem;
} 

.main-beneficit-container .beneficit-explication p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
} 

.main-beneficit-container .beneficit-item{
    min-width: 25rem;
    width: 80%;
    min-height: 15.2rem;
    max-width: 32rem;
    background-color: var(--warm-black2);
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
    border-radius: 0.4rem;
    margin-bottom: 1.6rem;

}


.main-beneficit-container .beneficit-item h3{
    padding-top: 3%;
    padding-left: 10%;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--just-white);
    }

.main-beneficit-container .beneficit-item p{
    padding: 5% 10%;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
}


.beneficit-item span{
 padding-left: 27%;
 margin-top: 2rem;

}

.beneficit-item .icon{
    width: 2.2rem;
    height: 2.2rem;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.beneficit-item .clock{
    background-image: url('./assets/iconos/reloj.svg');

}
 
.beneficit-item .eye{
    background-image: url('./assets/iconos/ojo.svg');
}
 
.beneficit-item .dollar{
    background-image: url('./assets/iconos/dolar.svg');
}
 
.beneficit-item .check{
    background-image: url('./assets/iconos/check.svg');
}
 

.main-plan-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 32rem;
    padding-bottom: 5rem;

}

.main-plan-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    width: 70%;
    max-width: 25rem;
    background-color: var(--just-white);
    box-shadow: 0 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
    border-radius: 0.8rem;
}

.main-plan-title{
    width: 90%;
    text-align: center;
}

.main-plan-title h2{
padding-top: 8.2rem;
font-size: 2.4rem;
line-height: 2.6rem;
font-weight: 700;
color: var(--warm-black);

}

.main-plan-title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
    padding-top: 2.4rem;
}

.main-plan-type p{
    display: inline-block;
    padding: 0.8rem;
    border-radius: 0.8rem;
    font-family: var(--Secundary-font);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--just-white);
    background-color: var(--bitcoin-orange); 
    margin-top: -0.8rem;
}


.main-plan-type__price {
    position: relative;
    margin-top: 0.8rem;
}

.main-plan-type__price p{
    font-family: var(--Secundary-font);
    font-size: 5.2rem;
    line-height: 6.2rem;
    font-weight: 700;
    margin-left: 0.9rem;
}

.main-plan-type__price p span{
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    position: absolute;
    top: 0.9rem;
    left: 0;
}



.main-plan-item h3{
margin-top: 1.6rem;
font-weight: 500;
font-size: 1.4rem;
line-height: 1.8rem;
color: #000000;

}

.main-plan-item .main-plan-item_detail{
    
    display: inline-block;
    width: 70%;
    margin-top: 0.9rem;
    font-family: var(--Secundary-font);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #757575;
}

.main-plan-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid #F7931A;
    border-radius: 0.4rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
    background-color: var(--off-white);
    color: var(--warm-black);
    text-decoration: none;
    min-width: 15.5rem;
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
    
}

.main-plan-item a span::before{

    content: url(./assets/iconos/Flecha-derecha-color.svg);
}

.main-question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 32rem;

    padding-bottom: 5rem;
}

.main-question-container h2{
font-weight: 700;
font-size: 2.4rem;
line-height: 2.6rem;
text-align: center;
width: 90%;
color: var(--warm-black);
margin-top: 2.4rem;
margin-bottom: 3rem;
}

.main-question-container .question-item{
    width: 90%;
    max-width: 32rem;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.main-question-container .question-item p{
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 1.8rem;
   color: #757575;
   padding-top: 1.5rem;
   width: 85%;
}

.main-question-container .question-item span{
    content: url(./assets/iconos/flecha_abajo.svg);
    margin-left: 2rem;
 }

 footer{
     background-color: var(--bitcoin-orange);
     width: 100%;
     min-width: 320px;
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .footer-container{
     padding-top: 3rem;
     padding-bottom: 1rem;
    width: 70%;
    max-width: 32rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

.item-footer p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--just-white);
    padding: 0.7rem 0;
}

 .image-fotter{
     background-image: url('./assets/imagenes/logopie_texto.svg');
     width: 7.4rem;
     height: 6rem;
     background-position: center;
     background-repeat: no-repeat;
 }